save-exact=true
engine-strict=true
save-prefix=
legacy-peer-deps=true

@instacoach:registry=https://npm.pkg.github.com
//npm.pkg.github.com:_authToken=${GITHUB_TOKEN}

npm login  --auth-type=legacy --registry=https://npm.pkg.github.com